@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<div class="container">

    <div class="row m-3">


        <div class="col-4">

            <div class="form-group">
                <label>Nombre:</label>
                <input class="form-control" />

            </div>

        </div>


        <div class="col-4">

            <div class="form-group">
                <label>Apellido materno:</label>
                <input class="form-control" />

            </div>

        </div>

        <div class="col-4">
            <div class="form-group">
                <label>Apellido paterno:</label>
                <input class="form-control" />

            </div>



        </div>



    </div>

    <div class="row">

        <div class="col-12">
             <button class="btn btn-danger btn-lg" onclick="location.reload()">Enviar formulario</button>

        </div>

    </div>

   
</div>
