@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>


    <button id="btnCargarVistaParcial" class="btn btn-primary btn-lg">Cargar vista parcial</button>

    <button id="btnCargarFormulario" class="btn btn-primary btn-lg">Cargar formulario</button>


    <div id="contenedor"></div>

</div>
